<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}
            TecP2p´s blog
        {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{STATIC_URL}}bootstrap/css/blog-home.css" rel="stylesheet">
    {% block links %}{% endblock %}

</head>
  <body>
    {% block content %}{% endblock %}

    <!-- JavaScript -->
    <script src="{{STATIC_URL}}bootstrap/js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
